
  /* body{
    background-color: rgb(38, 188, 98);
 } */
   
.container{
   display: flex;
   background-color: azure;
   border: 1px solid red;
}
 .child1{ 
      height: 300px;
      width: 300px;
      background-color: blue;
      border: 1px dotted rebeccapurple;
 }
  .child2{ 
      height: 300px;
      width: 300px;
      background-color: rgb(34, 158, 73);
      border: 1px dotted rebeccapurple;
 }
  .child3{ 
      height: 300px;
      width: 300px;
      background-color: rgb(198, 114, 35);
      border: 1px dotted rebeccapurple;
 }
  .child4{ 
      height: 300px;
      width: 300px;
      background-color: rgb(197, 48, 162);
      border: 1px dotted rebeccapurple;
 }